# .bzrignore							-*-conf-unix-*-
*.annot
*.cm[ioax]
*.cmxa
.depend.ocaml
RE:doc/.*\.(html|css)
*.com
*.exe
# Gammu log files
*.log
# OASIS & OCamlbuild
_build
AUTHORS.txt
README.txt
setup.ml
setup.data
src/API.odocl
src/gammu.mllib
*.clib
*.native
*.byte
